.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    width: 90%;
    height: 100vh;
    border-bottom-style: solid;
    border-right-style: solid;
    border-left-style: solid;
}